body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.app {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #020617;
    padding: 20px;
}

.sidebar h2 {
    color: #3b82f6;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

/* INPUT */
input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 250px;
}

/* BUTTON */
button {
    padding: 10px;
    background: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
}

/* DARK/LIGHT MODE */
.light {
    background: white;
    color: black;
}

.hidden {
    display: none;
}