*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  color:white;
  background:#0f172a;
}

/* HERO */
.hero{
  height:100vh;
  background:https://www.w3schools.com/html/mov_bbb.mp4
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
}

.hero-content{
  position:relative;
  z-index:2;
  animation:fadeIn 2s ease;
}

.btn{
  background:#25D366;
  padding:12px 20px;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

/* SERVICES */
.services{
  padding:60px 20px;
  text-align:center;
}

.cards{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  background:#1e293b;
  margin:10px;
  padding:25px;
  border-radius:10px;
  width:250px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* ABOUT */
.about{
  padding:50px;
  text-align:center;
}

/* CONTACT */
.contact{
  padding:50px;
  text-align:center;
  background:#020617;
}

.contact input,
.contact textarea{
  display:block;
  width:100%;
  max-width:400px;
  margin:10px auto;
  padding:12px;
  border:none;
  border-radius:5px;
}

.contact button{
  padding:12px;
  background:#25D366;
  border:none;
  color:white;
  border-radius:5px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
}

/* ANIMATION */
@keyframes fadeIn{
  from{opacity:0; transform:translateY(30px);}
  to{opacity:1; transform:translateY(0);}
}